#source-modal-backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 360px;
    background: #000;
    opacity: 0.7;
    filter: alpha(opacity=70);
    z-index: 100100;
}

.kaynak_title {
    border-bottom: 1px solid #dfdfdf;
    font-size: 19px;
    font-weight: 600;
    padding-bottom: 14px;
}

.kaynak_ekle {
    display: none;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    width: 300px;
    height: 405px;
    overflow: hidden;
    margin-left: -150px;
    margin-top: -250px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 100105;
    padding: 20px;
}

span.kaynak_kapat {
    font-size: 35px;
    position: absolute;
    right: 17px;
    top: 20px;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    color: #666;
    font-weight: bold;
}

div#ekle {
    background: green;
    color: #fff;
    font-size: 16px;
    width: 60px;
    text-align: center;
    padding: 7px 0px;
    border-radius: 4px;
    cursor: pointer;
}

#kaynak_ekle .dashicons.dashicons-format-video {
    margin-top: 5px;
}

.kaynak_ekle input[type=text] {
    width: 100%;
}

.kaynak_ekle select {
    width: 100%;
}

.kaynak_ekle textarea {
    height: 100px;
    width: 100%;
}